<!--加载公用头文件-->
<include file="Pub/header">
</include>
<body>
    <div class="page-header center">
        <h1>
            <span class="">
                用户登录页面
            </span>
        </h1>
    </div>
    <div class="container">
        <div class="form-horizontal">
            <div class="form-group center">
                <label>
                    <img src="__IMAGES__/avtar.png"/>
                </label>
            </div>
            <div class="form-group ">
                <label class="col-md-1 col-md-offset-3 control-label">
                    用户名
                </label>
                <div class="col-md-5">
                    <input class="form-control" name="" placeholder="请输入用户名" type="text">
                </input>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-1 col-md-offset-3 control-label">
                密码
            </label>
            <div class="col-md-5">
                <input class="form-control" name="" placeholder="请输入密码" type="password">
            </input>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-4 col-md-4">
            <a data-dismiss="modal" data-target="#register" data-toggle="modal" href="">
                还没有账号？点我注册
            </a>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-4 col-md-2">
            <button class="btn btn-success register">
                登录
            </button>
            <button class="btn btn-danger">
                取消
            </button>
        </div>
    </div>
</div>
<!-- 注册窗口 弹窗的形式-->
<div class="modal fade" id="register" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button class="close" data-dismiss="modal">
                    <span>
                        ×
                    </span>
                </button>
            </div>
            <div class="modal-title">
                <h1 class="text-center">
                    注册
                </h1>
            </div>
            <div class="modal-body">
                <form action="__URL__/register" class="form-group">
                    <div class="form-group">
                        <label class="control-label">
                            用户名
                        </label>
                        <input class="form-control" placeholder="6-15位字母或数字" type="text">
                    </input>
                </div>
                <div class="form-group">
                    <label class="control-label">
                        密码
                    </label>
                    <input class="form-control" placeholder="至少6位字母或数字" type="password">
                </input>
            </div>
            <div class="form-group">
                <label class="control-label">
                    再次输入密码
                </label>
                <input class="form-control" placeholder="至少6位字母或数字" type="password">
            </input>
        </div>
        <div class="form-group">
            <label class="control-label">
                邮箱
            </label>
            <input class="form-control" placeholder="例如:123@123.com" type="email">
        </input>
    </div>
    <div class="text-right">
        <button class="btn btn-primary" type="submit">
            提交
        </button>
        <button class="btn btn-danger" data-dismiss="modal">
            取消
        </button>
    </div>
    <a data-dismiss="modal" data-toggle="modal" href="">
        已有账号？点我登录
    </a>
</form>
</div>
</div>
</div>
</div>
<script type="text/javascript">
    $().ready(function(){

    })
</script>
</div>
</body>
