<script src="__JS__/jquery.min.js" type="text/javascript">
</script>
<script src="__JS__/bootstrap.min.js" type="text/javascript">
</script>
<script src="__JS__/fuelux.js" type="text/javascript">
</script>
<!--数字选择框spinner依赖-->
<script src="__JS__/bootbox.js" type="text/javascript">
</script>
<!--对话框-->
<script src="__JS__/jquery.gritter.js" type="text/javascript">
</script>
<!--自动消失的提示条-->
<script src="__JS__/bootstrap-datepicker.js" type="text/javascript">
</script>
<!--日期选择器，必须放在fuelux之后，否则会冲突-->
<script src="__JS__/bootstrap-datepicker.zh-CN.js" type="text/javascript">
</script>
<!--日期选择器本地化-->
<script src="__JS__/spin.min.js" type="text/javascript">
</script>
<!--转菊花-->
<script src="__JS__/jquery.loadmask.spin.js" type="text/javascript">
</script>
<!--加载动画-->
<script src="__JS__/chosen.jquery.js" type="text/javascript">
</script>
<!--对话框-->
<script src="__JS__/jquery.bootstrap-duallistbox.js" type="text/javascript">
</script>
<!--双列多选列表-->
<script src="__JS__/ace.min.js" type="text/javascript">
</script>
<script src="__JS__/ace-elements.js" type="text/javascript">
</script>
<!--ace组件-->
<script src="__JS__/jquery.scrollUp.min.js" type="text/javascript">
</script>
<!--滚到顶部-->
<script src="__JS__/common.js" type="text/javascript">
</script>
<!--后台库类js-->
<script src="__JS__/prettify.js" type="text/javascript">
</script>
<!--代码美化-->