<!DOCTYPE doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <link rel="stylesheet" type="text/css" href="__CSS__/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="__CSS__/ace.min.css">
    <link rel="stylesheet" type="text/css" href="__CSS__/jquery.loadmask.spin.css">
    <!--加载动画-->
    <link rel="stylesheet" type="text/css" href="__CSS__/chosen.css">
    <!--多选文本框-->
    <link rel="stylesheet" type="text/css" href="__CSS__/font-awesome.min.css">
    <!--图标字体-->
    <link rel="stylesheet" type="text/css" href="__CSS__/prettify.css">
    <!--代码美化-->
    <link rel="stylesheet" type="text/css" href="__CSS__/datepicker.css">
    <!--日期组件-->
    <link rel="stylesheet" type="text/css" href="__CSS__/bootstrap-duallistbox.css">
    <!--复选列表组件-->
    <link rel="stylesheet" type="text/css" href="__CSS__/bootstrap.css">
    <!--登录页样式-->
    <link rel="stylesheet" type="text/css" href="__CSS__/login.css">
    <!--jquery-confirm样式-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.css">
    </meta>
</head>
