<!doctype html>
<html lang="en">
<head>
      <meta charset="utf-8">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="__CSS__/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="__CSS__/ace.min.css">
    <link rel="stylesheet" type="text/css" href="__CSS__/jquery.loadmask.spin.css"><!--加载动画-->
    <link rel="stylesheet" type="text/css" href="__CSS__/chosen.css"><!--多选文本框-->
    <link rel="stylesheet" type="text/css" href="__CSS__/font-awesome.min.css"><!--图标字体-->
    <link rel="stylesheet" type="text/css" href="__CSS__/prettify.css"><!--代码美化-->
    <link rel="stylesheet" type="text/css" href="__CSS__/datepicker.css"><!--日期组件-->
    <link rel="stylesheet" type="text/css" href="__CSS__/bootstrap-duallistbox.css"><!--复选列表组件-->
    <link rel="stylesheet" type="text/css" href="__CSS__/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="__CSS__/login.css">
    <script type="text/javascript">
    var ThinkPHP={
        'IMG' : '__IMG__',
        'MODULE':'__MODULE__',
    }
    </script>
    <script type="text/javascript" src="__JS__/jquery.min.js"></script>
	<script type="text/javascript" src="__JS__/bootstrap.min.js"></script>
	<script type="text/javascript" src="__JS__/fuelux.js"></script><!--数字选择框spinner依赖-->
	<script type="text/javascript" src="__JS__/bootbox.js"></script><!--对话框-->
	<script type="text/javascript" src="__JS__/jquery.gritter.js"></script><!--自动消失的提示条-->
	<script type="text/javascript" src="__JS__/bootstrap-datepicker.js"></script><!--日期选择器，必须放在fuelux之后，否则会冲突-->
	<script type="text/javascript" src="__JS__/bootstrap-datepicker.zh-CN.js"></script><!--日期选择器本地化-->
	<script type="text/javascript" src="__JS__/spin.min.js"></script><!--转菊花-->
	<script type="text/javascript" src="__JS__/jquery.loadmask.spin.js"></script><!--加载动画-->
	<script type="text/javascript" src="__JS__/chosen.jquery.js"></script><!--对话框-->
	<script type="text/javascript" src="__JS__/jquery.bootstrap-duallistbox.js"></script><!--双列多选列表-->

	<script type="text/javascript" src="__JS__/ace.min.js"></script>
	<script type="text/javascript" src="__JS__/ace-elements.js"></script><!--ace组件-->

	<script type="text/javascript" src="__JS__/jquery.scrollUp.min.js"></script><!--滚到顶部-->
	<script type="text/javascript" src="__JS__/common.js"></script><!--后台库类js-->
	<script type="text/javascript" src="__JS__/prettify.js"></script><!--代码美化-->
	<script type="text/javascript" src="__JS__/doc.js"></script><!--本文档专属js-->
</head>