@charset "utf-8";
body, ul, dl, dd, dt, ol, li, p, textarea, form, select, fieldset, table, td, div, input {margin:0;padding:0;-webkit-text-size-adjust:none}
a img {border:0}
body{color:#333;text-align:center;font:12px "微软雅黑"; overflow-y:auto;}
ul, ol, li {list-style-type:none;vertical-align:0}
a {outline-style:none;color:#535353;text-decoration:none}
a:hover{color:#D40000;text-decoration:none}

/* itagBox */
.itagBox{margin:10px auto 0px;clear:both;width:980px;overflow:hidden;}
.itagBox ul{width:980px;}
.itagBox ul li{position:relative;float:left;width:240px;background:#fff;height:190px; margin:0px 6px 6px 0px;}
.itagBox ul .votedo
{
    width:100%;
    height:40px;
    line-height:40px;

}
.votedo .votenum
{
    float:left;
    width:70%;
    height:40px;
    line-height:40px;
    text-align:left;
    font-size:16px;
    color:#cc0000;
}
.votedo .vote
{
    float:right;
    width:30%;
    height:26px;
    line-height:26px;
    margin:7px 0 0 auto;
    background-color:#FF4040;
    border:1px solid #FF3030;
    text-align:center;
    font-size:16px;
    color:#fff;
    cursor:pointer
}
.itagBox ul .tag1{width:238px;}
.tag_yellow{color:#fff601;}
.tag_txt{text-align:center;line-height:40px;padding-top:12px; font-size:23px; font-weight:700; font-family:微软雅黑;color:#474747; }
.itagBox ul li a{ position:absolute;left:0px;top:0px; overflow-y: auto;  line-height:20px;text-align:center;padding-top:5px;display:block;color:#FFF;width:100%;
   height:145px; filter:alpha(opacity=95);background:#000;opacity:0.95;  background:#000; }
   ul li a:hover{color:#FFF;text-decoration:none; margin-left: 20px; }
   ul .tag3{background:#2E71B3;}

   img{margin-top: 20px;}

.zoom {
    display: inline-block;
    position: relative;
}

.votedo .rowvote{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

h1{
    margin-top: 20px;
    margin-bottom: 10px;
}

.footer{
    font-size: 30px;
    padding-top: 40px;
    padding-bottom: 10px;
    width:100%;
}