<!--加载公用头文件-->
<include file="Pub/common_header"/>
<head>
    <link rel="stylesheet" type="text/css" href="__CSS__/home_index.css">
</head>
<body style=" background-color:#cb0000">
<div class="itagBox">
    <ul class="artist_l">
        <li class="tag1">
            <div class="votetext">
                <div class="tag_txt">
                    征名1
                </div>
                <a href="#">
                    征名释义：征名1
                </a>
            </div>
            <div class="votedo">
                <div class="cvotenum"><b>1002</b>票</div>
                <div class="cvote">投票</div>
            </div>
        </li>
        <li class="tag1 ">
            <div class="votetext">
                <div class="tag_txt">
                    征名2
                </div>
                <a href="#">
                    征名释义：征名2
                </a>
            </div> <div class="votedo">
            <div class="cvotenum"><b>1003</b>票</div>
            <div class="cvote">投票</div>
        </div>
        </li>
        <li class="tag1"> <div class="votetext">
            <div class="tag_txt">
                征名3
            </div>
            <a href="#">征名释义：征名3</a>
        </div>
            <div class="votedo">
                <div class="cvotenum"><b>1004</b>票</div>
                <div class="cvote">投票</div>
            </div>
        </li>
        <li class="tag1 "> <div class="votetext">
            <div class="tag_txt">
                征名4
            </div>
            <a href="#">征名4</a>
        </div> <div class="votedo">
            <div class="cvotenum"><b>1005</b>票</div>
            <div class="cvote">投票</div>
        </div>
        </li>
    </ul>
</div>
<div class="col-md-offset-3  col-md-6 footer center"><p>请注明: Copyright By cmderQ</p></div>
</body>