<!--加载公用头文件-->
<include file="Pub/common_header"/>
<head>
    <link rel="stylesheet" type="text/css" href="__CSS__/home_index.css">
</head>
<body>
<div class="row center"><h1>最可爱的baby投票</h1></div>
<hr>
<div>
        <div class="row">
            <div class="col-md-offset-1 col-md-2" style="padding-right: 0px;">
                <div class="zoom" id='ex1'>
                    <a href="#">
                        <img src="__IMAGES__/1.jpg" width='300' height='250' data-action="zoom"/>
                    </a>
                </div>
                <div class="votedo1">
                    <div class="rowvote">
                        <div class="votenum" id="vote1">票数：<b><if condition="isset($data[1])">{$data['1']} <else />0</if></b>票
                            <div class="vote">
                                投票
                                <input type="hidden" name="one" value="1">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2" style="padding-right: 0px;">
                <div class="zoom" id='ex2'>
                    <a href="#">
                        <img src="__IMAGES__/2.jpg" width='300' height='250' data-action="zoom"/>
                    </a>
                </div>
                <div class="votedo2">
                    <div class="rowvote">
                        <div class="votenum" id="vote2">票数：<b><if condition="isset($data[2])">{$data['2']} <else />0</if></b>票
                            <div class="vote">
                                投票
                                <input type="hidden" name="two" value="2">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2" style="padding-right: 0px;">
                <div class="zoom" id='ex3'>
                    <a href="#">
                        <img src="__IMAGES__/3.jpg" width='300' height='250' data-action="zoom"/>
                    </a>
                </div>
                <div class="votedo3">
                    <div class="rowvote">
                        <div class="votenum" id="vote3">票数：<b><if condition="isset($data[3])">{$data['3']} <else />0</if></b>票
                            <div class="vote">
                                投票
                                <input type="hidden" name="three" value="3">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2" style="padding-right: 0px;">
                <div class="zoom" id='ex4'>
                    <a href="#">
                        <img src="__IMAGES__/4.jpg" width='300' height='250' data-action="zoom"/>
                    </a>
                </div>
                <div class="votedo4">
                    <div class="rowvote">
                        <div class="votenum" id="vote4">票数：<b><if condition="isset($data[4])">{$data['4']} <else />0</if></b>票
                            <div class="vote">
                                投票
                                <input type="hidden" name="four" value="4">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2" style="padding-right: 0px;">
                <div class="zoom" id='ex5'>
                    <a href="#">
                        <img src="__IMAGES__/5.png" width='300' height='250' data-action="zoom"/>
                    </a>
                </div>
                <div class="votedo">
                    <div class="rowvote">
                        <div class="votenum" id="vote5">票数：<b><if condition="isset($data[5])">{$data['5']} <else />0</if></b>票
                            <div class="vote">
                                投票
                                <input type="hidden" name="five" value="5">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-1 col-md-2" style="padding-right: 0px;">
                <div class="zoom" id='ex6'>
                    <a href="#">
                        <img src="__IMAGES__/6.jpg" width='300' height='250' data-action="zoom"/>
                    </a>
                </div>
                <div class="votedo6">
                    <div class="rowvote">
                        <div class="votenum" id="vote6">票数：<b><if condition="isset($data[6])">{$data['6']} <else />0</if></b>票
                            <div class="vote">
                                投票
                                <input type="hidden" name="six" value="6">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2" style="padding-right: 0px;">
                <div class="zoom" id='ex7'>
                    <a href="#">
                        <img src="__IMAGES__/7.jpg" width='300' height='250' data-action="zoom"/>
                    </a>
                </div>
                <div class="votedo7">
                    <div class="rowvote">
                        <div class="votenum" id="vote7">票数：<b><if condition="isset($data[7])">{$data['7']} <else />0</if></b>票
                            <div class="vote">
                                投票
                                <input type="hidden" name="seven" value="7">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2" style="padding-right: 0px;">
                <div class="zoom" id='ex8'>
                    <a href="#">
                        <img src="__IMAGES__/8.png" width='300' height='250' data-action="zoom"/>
                    </a>
                </div>
                <div class="votedo8">
                    <div class="rowvote">
                        <div class="votenum" id="vote8">票数：<b><if condition="isset($data[8])">{$data['8']} <else />0</if></b>票
                            <div class="vote">
                                投票
                                <input type="hidden" name="egiht" value="8">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2" style="padding-right: 0px;">
                <div class="zoom" id='ex9'>
                    <a href="#">
                        <img src="__IMAGES__/9.jpg" width='300' height='250' data-action="zoom"/>
                    </a>
                </div>
                <div class="votedo9">
                    <div class="rowvote">
                        <div class="votenum" id="vote9">票数：<b><if condition="isset($data[9])">{$data['9']} <else />0</if></b>票
                            <div class="vote">
                                投票
                                <input type="hidden" name="nine" value="9">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2" style="padding-right: 0px;">
                <div class="zoom" id='ex10'>
                    <a href="#">
                        <img src="__IMAGES__/10.jpg" width='300' height='250' data-action="zoom"/>
                    </a>
                </div>
                <div class="votedo10">
                    <div class="rowvote">
                        <div class="votenum" id="vote10">票数：<b><if condition="isset($data[10])">{$data['10']} <else />0</if></b>票
                            <div class="vote">
                                投票
                                <input type="hidden" name="ten" value="10">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
<div class="space-10"></div>
<div class=" row center footer"><span>请注明: Copyright By cmderQ</span></div>
<include file="Pub/common_footer"/>
<script>
    $(function () {
        $('#ex1').zoom();
        $('#ex2').zoom();
        $('#ex3').zoom();
        $('#ex4').zoom();
        $('#ex5').zoom();
        $('#ex6').zoom();
        $('#ex7').zoom();
        $('#ex8').zoom();
        $('#ex9').zoom();
        $('#ex10').zoom();


        //第一幅图片
        $("#vote1").one("click",  function () {
            var numbner_one = $("input[name='one']").val();
            if (numbner_one != '') {
                sendVote(numbner_one);
            }
        });

        //第二幅图片
        $("#vote2").one("click", function () {
            var numbner_two = $("input[name='two']").val();
            if (numbner_two != '') {
                sendVote(numbner_two);
            }
        });

        //第三幅图片
        $("#vote3").one("click", function () {
            var numbner_three = $("input[name='three']").val();
            if (numbner_three != '') {
                sendVote(numbner_three);
            }
        });

        //第四幅图片
        $("#vote4").one("click", function () {
            var numbner_four = $("input[name='four']").val();
            if (numbner_four != '') {
                sendVote(numbner_four);
            }
        });

        //第五幅图片
        $("#vote5").one("click", function () {
            var numbner_five = $("input[name='five']").val();
            if (numbner_five != '') {
                sendVote(numbner_five);
            }
        });

        //第六幅图片
        $("#vote6").one("click", function () {
            var numbner_six = $("input[name='six']").val();
            if (numbner_six != '') {
                sendVote(numbner_six);
            }
        });

        //第七幅图片
        $("#vote7").one("click", function () {
            var numbner_seven = $("input[name='seven']").val();
            if (numbner_seven != '') {
                sendVote(numbner_seven);
            }
        });

        //第八幅图片
        $("#vote8").one("click", function () {
            var numbner_egiht = $("input[name='egiht']").val();
            if (numbner_egiht != '') {
                sendVote(numbner_egiht);
            }
        });

        //第九幅图片
        $("#vote9").one("click", function () {
            var numbner_nine = $("input[name='nine']").val();
            if (numbner_nine != '') {
                sendVote(numbner_nine);
            }
        });

        //第十幅图片
        $("#vote10").one("click", function () {
            var numbner_ten = $("input[name='ten']").val();
            if (numbner_ten != '') {
                sendVote(numbner_ten);
            }
        });

        //将选择的图片号数字提交
        function sendVote(number) {
            var selectNo = number;
            $.ajax({
                type: 'POST',
                url: '__URL__/index',
                data: {number: selectNo},
                datatype: 'json',
                success: function (result) {
                    $.alert({
                        title: '投票结果',
                        content: result.info,
                        buttons: {
                            ok: function () {
                                location.href = "__URL__/index";
                            }
                        }
                    });
                },
                error: function (message) {
                    console.log(message);
                }
            });
        }
    })
</script>
</body>