<!--加载公用头文件-->
<include file="Pub/common_header"/>
<head>
    <link rel="stylesheet" type="text/css" href="__CSS__/home_index.css">
</head>
<body>
<div class="row center"><h1>最可爱的baby投票</h1></div>
<hr>
<div>
    <div class="row">
        <div class="col-md-offset-1 col-md-2">
            <div class="zoom" id='ex1'>
                <a href="#">
                    <img src="__IMAGES__/1.jpg" width='300' height='250' data-action="zoom"/>
                </a>
            </div>
            <div class="votedo">
               <div class="rowvote">
                   <div class="votenum">票数：<b>0</b>票</div>
                   <div class="vote">投票</div>
               </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="zoom" id='ex2'>
                <a href="#">
                    <img src="__IMAGES__/2.jpg" width='300' height='250' data-action="zoom"/>
                </a>
            </div>
            <div class="votedo">
                <div class="rowvote">
                    <div class="votenum">票数：<b>0</b>票</div>
                    <div class="vote">投票</div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="zoom" id='ex3'>
                <a href="#">
                    <img src="__IMAGES__/3.jpg" width='300' height='250' data-action="zoom"/>
                </a>
            </div>
            <div class="votedo">
                <div class="rowvote">
                    <div class="votenum">票数：<b>0</b>票</div>
                    <div class="vote">投票</div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="zoom" id='ex4'>
                <a href="#">
                    <img src="__IMAGES__/4.jpg" width='300' height='250' data-action="zoom"/>
                </a>
            </div>
            <div class="votedo">
                <div class="rowvote">
                    <div class="votenum">票数：<b>0</b>票</div>
                    <div class="vote">投票</div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="zoom" id='ex5'>
                <a href="#">
                    <img src="__IMAGES__/5.png" width='300' height='250' data-action="zoom"/>
                </a>
            </div>
            <div class="votedo">
                <div class="rowvote">
                    <div class="votenum">票数：<b>0</b>票</div>
                    <div class="vote">投票</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-1 col-md-2">
            <div class="zoom" id='ex6'>
                <a href="#">
                    <img src="__IMAGES__/6.jpg" width='300' height='250' data-action="zoom"/>
                </a>
            </div>
            <div class="votedo">
                <div class="rowvote">
                    <div class="votenum">票数：<b>0</b>票</div>
                    <div class="vote">投票</div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="zoom" id='ex7'>
                <a href="#">
                    <img src="__IMAGES__/7.jpg" width='300' height='250' data-action="zoom"/>
                </a>
            </div>
            <div class="votedo">
                <div class="rowvote">
                    <div class="votenum">票数：<b>0</b>票</div>
                    <div class="vote">投票</div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="zoom" id='ex8'>
                <a href="#">
                    <img src="__IMAGES__/8.png" width='300' height='250' data-action="zoom"/>
                </a>
            </div>
            <div class="votedo">
                <div class="rowvote">
                    <div class="votenum">票数：<b>0</b>票</div>
                    <div class="vote">投票</div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="zoom" id='ex9'>
                <a href="#">
                    <img src="__IMAGES__/9.jpg" width='300' height='250' data-action="zoom"/>
                </a>
            </div>
            <div class="votedo">
                <div class="rowvote">
                    <div class="votenum">票数：<b>0</b>票</div>
                    <div class="vote">投票</div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="zoom" id='ex10'>
                <a href="#">
                    <img src="__IMAGES__/10.jpg" width='300' height='250' data-action="zoom"/>
                </a>
            </div>
            <div class="votedo">
                <div class="rowvote">
                    <div class="votenum">票数：<b>0</b>票</div>
                    <div class="vote">投票</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="space-10"></div>
<div class=" row center footer"><span>请注明: Copyright By cmderQ</span></div>
<include file="Pub/common_footer"/>
<script>
    $(function () {
        $('#ex1').zoom();
        $('#ex2').zoom();
        $('#ex3').zoom();
        $('#ex4').zoom();
        $('#ex5').zoom();
        $('#ex6').zoom();
        $('#ex7').zoom();
        $('#ex8').zoom();
        $('#ex9').zoom();
        $('#ex10').zoom();
    })
</script>
</body>